@model ProyectoBAD.Models.Encuestum

@{
    ViewData["Title"] = "Eliminar Encuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <h3 class="card-title text-center mb-4 mt-4">¿Estás seguro de que deseas eliminar esta encuesta?</h3>
                <div class="card-body">                   
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h4 class="card-subtitle mb-3">Detalles de la Encuesta</h4>
                            <dl class="row">
                                <dt class="col-sm-4 text-muted">ID de Usuario</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdUsuario)</dd>
                                <dt class="col-sm-4 text-muted">Título de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.TituloEncuesta)</dd>
                                <dt class="col-sm-4 text-muted">Objetivo de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.ObjetivoEncuesta)</dd>
                                <dt class="col-sm-4 text-muted">Grupo Meta de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.GrupometaEncuesta)</dd>
                                <dt class="col-sm-4 text-muted">Indicaciones de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.IndicacionesEncuesta)</dd>
                                <dt class="col-sm-4 text-muted">Fecha de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaEncuesta)</dd>
                                <dt class="col-sm-4 text-muted">Estado de la Encuesta</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.EstadoEncuesta)</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-6">
                            <form asp-action="Delete" class="text-center">
                                <input type="hidden" asp-for="IdEncuesta" />
                                <button type="submit" class="btn btn-danger btn-block">
                                    <i class="fas fa-trash-alt mr-2"></i> Eliminar
                                </button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Index" class="btn btn-secondary btn-block">
                                <i class="fas fa-arrow-left mr-2"></i> Volver a la Lista
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
