@model ProyectoBAD.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="card mt-4">
        <h3 class="card-title text-center mb-4 mt-4">¿Estás seguro de que deseas eliminar este usuario?</h3>
        <div class="card-body">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h4 class="card-subtitle mb-3">Detalles del Usuario</h4>
                    <dl class="row">
                        <dt class="col-sm-3">Correo electrónico</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.EmailUsuario)</dd>
                        <dt class="col-sm-3">Teléfono Movil</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.TelefonoUsuario)</dd>
                        <dt class="col-sm-3">Primer nombre</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PrimerNombreUsuario)</dd>
                        <dt class="col-sm-3">Segundo Nombre</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.SegundoNombreUsuario)</dd>
                        <dt class="col-sm-3">Primer Apellido</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PrimerApellidoUsuario)</dd>
                        <dt class="col-sm-3">Segundo Apellido</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.SegundoApellidoUsuario)</dd>
                        <dt class="col-sm-3">Genero</dt>
                        <dd class="col-sm-9">
                            <span>@(Model.GenUsuario.Trim().Replace(" ", "") == "M" ? "Masculino" : (Model.GenUsuario.Trim().Replace(" ", "") == "F" ? "Femenino" : ""))</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger btn-block">
                            <i class="fas fa-trash-alt mr-2"></i> Eliminar
                        </button>
                    </form>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block">
                        <i class="fas fa-arrow-left mr-2"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
