@model ProyectoBAD.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="p-4">
    <div class="card container px-0" style="width: 800px;">
        <div class="card-header text-center">
            <h1>Detalles de Usuario</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-4">
                    Correo electrónico:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.EmailUsuario)
                </dd>
                <dt class="col-4">
                    Teléfono Movil:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.TelefonoUsuario)
                </dd>
                <dt class="col-4">
                    Primer nombre:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.PrimerNombreUsuario)
                </dd>
                <dt class="col-4">
                    Segundo Nombre:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.SegundoNombreUsuario)
                </dd>
                <dt class="col-4">
                    Primer Apellido:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.PrimerApellidoUsuario)
                </dd>
                <dt class="col-4">
                    Segundo Apellido:
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.SegundoApellidoUsuario)
                </dd>
                <dt class="col-4">
                    Genero:
                </dt>
                <dd class="col-8">
                    <span>@(Model.GenUsuario.Trim().Replace(" ", "") == "M" ? "Masculino" : (Model.GenUsuario.Trim().Replace(" ", "") == "F" ? "Femenino" : ""))</span>
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="px-2"> <a class="btn btn-secondary text-white" asp-action="Edit" asp-route-id="@Model.IdUsuario">Editar</a> </div>
                <div class=""> <a type="submit" value="Guardar" class="btn btn-primary" asp-action="Index"> Regresar</a></div>
            </div>
        </div>
    </div>
</div>
