@model IEnumerable<ProyectoBAD.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerNombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellidoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
