@model ProyectoBAD.Models.Respuestum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Respuestum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpcionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpcionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncuestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncuestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoRespuesta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RespuestaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
