@model ProyectoBAD.Models.Respuestum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Respuestum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoRespuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoRespuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncuestaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncuestaNavigation.IdEncuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncuestadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncuestadoNavigation.IdEncuestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPreguntaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPreguntaNavigation.IdPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion.OpcionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RespuestaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
