@model IEnumerable<ProyectoBAD.Models.Respuestum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextoRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEncuestaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEncuestadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPreguntaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEncuestaNavigation.IdEncuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEncuestadoNavigation.IdEncuestado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPreguntaNavigation.IdPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opcion.OpcionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RespuestaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RespuestaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RespuestaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
