@model IEnumerable<ProyectoBAD.Models.Respuestum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center my-4">Respuestas</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" id="tblEncuestas">
                        <thead>
                            <tr>
                                <th>Fecha de Respuesta</th>
                                <th>Texto de Respuesta</th>
                                <th>Encuesta</th>
                                <th>Encuestado</th>
                                <th>Pregunta</th>
                                <th>Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.FechaRespuesta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TextoRespuesta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdEncuestaNavigation.TituloEncuesta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdEncuestadoNavigation.IdEncuestado)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IdPreguntaNavigation.DescripcionPregunta)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Opcion.ValorOpcion)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
