@model ProyectoBAD.Models.Preguntum

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Preguntum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEncuesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEncuesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPreguntaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPreguntaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequeridaPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequeridaPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenPregunta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPregunta" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
