@model ProyectoBAD.Models.Preguntum

@{
    ViewData["Title"] = "Detalles de la Pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Detalles de la Pregunta</h4>
            <hr class="mt-4"/>
            <dl class="row">
                <dt class="col-sm-3">ID de la Encuesta</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdEncuestaNavigation.IdEncuesta)</dd>
                <dt class="col-sm-3">Tipo de Pregunta</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TipoPregunta.TipoPreguntaId)</dd>
                <dt class="col-sm-3">Pregunta</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DescripcionPregunta)</dd>
                <dt class="col-sm-3">Requerida</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.RequeridaPregunta)</dd>
                <dt class="col-sm-3">Orden de la Pregunta</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.OrdenPregunta)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" asp-route-id="@Model.IdPregunta" class="btn btn-primary mr-2">
        <i class="fas fa-edit mr-1"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left mr-1"></i> Volver a la Lista
    </a>
</div>
