@model IEnumerable<ProyectoBAD.Models.Preguntum>

@{
    ViewData["Title"] = "Lista de Preguntas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center my-4">@ViewBag.EncuestaTitulo</h1>

<div class="container">
    <div class="row justify-content-end mt-4">
        <div class="col-md-3">

            @{
    var encuestaId = ViewBag.EncuestaId as int?;
    if (encuestaId.HasValue)
    {
        <p>Valor de ViewBag.EncuestaId: @encuestaId</p>
    }
    else
    {
        <p>ViewBag.EncuestaId no tiene un valor definido.</p>
    }
}


            <!-- "Crear Pregunta" -->
            <div class="text-center mt-4">
                <a asp-controller="Preguntums" asp-action="Create" asp-route-idEncuesta="@ViewBag.EncuestaId" class="btn btn-success">
                    <i class="fas fa-plus mr-1"></i> Crear Pregunta
                </a>
            </div>


        </div>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped" id="tabla1">
            <thead>
                <tr>
                    <th>ID Encuesta</th>
                    <th>Tipo de Pregunta</th>
                    <th>Pregunta</th>
                    <th>Requerida</th>
                    <th>Orden</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdEncuestaNavigation.IdEncuesta)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoPregunta.NombreTipoPregunta)</td>
                        <td>@Html.DisplayFor(modelItem => item.DescripcionPregunta)</td>
                        <td>@Html.DisplayFor(modelItem => item.RequeridaPregunta)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrdenPregunta)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Preguntums" asp-route-id="@item.IdPregunta" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a asp-action="Details" asp-controller="Preguntums" asp-route-id="@item.IdPregunta" class="btn btn-info btn-sm">
                                <i class="fas fa-info-circle"></i> Detalles
                            </a>
                            <a asp-action="Delete" asp-controller="Preguntums" asp-route-id="@item.IdPregunta" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
