@model IEnumerable<ProyectoBAD.Models.Preguntum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEncuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPreguntaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequeridaPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenPregunta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEncuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPreguntaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequeridaPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenPregunta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPregunta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPregunta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPregunta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
