@model ProyectoBAD.Models.Opcionpreguntum

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Opcionpreguntum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPregunta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPregunta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorOpcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionOpcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoOpcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenOpcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenOpcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OpcionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
