@model IEnumerable<ProyectoBAD.Models.Opcionpreguntum>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorOpcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionOpcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoOpcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenOpcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorOpcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionOpcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoOpcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenOpcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpcionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OpcionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OpcionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
